#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  max-width: 800px;
  min-height: 200px;
  max-height: 90vh;
  font-size: 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.785);
  backdrop-filter: blur(10px);
}

.input {
   font-family: 'Montserrat', sans-serif;
   padding: 5px 8px;
   font-size: 14px;
   color: #03070a;
   background: transparent;
   border: 0;
   border-bottom: 1px solid #03070a;
   outline: none;
}

.input:focus {
   border-bottom-color: #8e1441;
}

.input:focus::placeholder {
   color: #8e1441;
}

.navbar__menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.navbar__item {
  display: flex;
  color: #03070a;
  padding: 8px;
  border-bottom: 1px solid transparent;

}
.navbar__item--status--is-active {
  color: #8e1441;
  background-color: #90435f29;
}

.card {
  min-width: 260px;
  min-height: 250px;
  border-radius: 25px;
  box-shadow:  6px -6px 12px #9245454a,
  -6px 6px 12px #f6bbbb;
  background-color: transparent;
 }

@media (max-width: 767px) {
  .app {
    max-height: max-content;
    justify-content: center;
  }
  .navbar__item {
    padding: 8px;
    font-size: 12px;
    border: none;
  }
}