#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
  max-width: 800px;
  min-height: 200px;
  max-height: 600px;
  font-size: 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);}

.navbar__menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.navbar__item {
  display: flex;
  color: #03070a;
  padding: 8px;
  border-bottom: 1px solid transparent;

}
.navbar__item--status--is-active {
  color: #8e1441;
  background-color: rgba(165, 165, 161, 0.104);
}

@media (max-width: 767px) {
  .app {
    max-height: max-content;
  }
  .navbar__item {
    padding: 8px;
    font-size: 12px;
    border: none;
  }
}